[Unit]
Description=Dictation Service
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
WorkingDirectory=%h/Developer/faster-whisper-dictation
ExecStart=/bin/bash %h/Developer/faster-whisper-dictation/run.sh
Restart=always
RestartSec=5

[Install]
WantedBy=graphical-session.target 