pynput>=1.7.8; platform_system == "Darwin"
python-uinput>=0.11.2; platform_system == "Linux"
pyaudio
keyboard
argparse
transitions
numpy
requests
sounddevice; sys.platform != 'win32'
soundfile
wave
pystray
Pillow
psutil
matplotlib